<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action= "/" method= "post">
                    <input name="name" type= "text" autocomplete="off" placeholder="Name">
                    <input name="month" type="text" autocomplete="off" placeholder="Month"></option>
                    <input name="day" type="text" autocomplete="off" placeholder="Day">
                    <input type="submit">

                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for people in birthdays%}
                        <tr>
                            <td>{{ people.name }}</td>
                            <td>{{ people.month }}/{{people.day}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
